API_TOKEN = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJVc2VySW5mbyI6eyJpZCI6MSwibWV0YWRhdGEiOm51bGwsIm5hbWUiOiJyb290IiwidXNlcm5hbWUiOiJyb290In0sImV4cCI6MTY4NzA0MDEwMywibmJmIjoxNjg3MDE4NTAzfQ.n0bmEVhKb65wTrMS0dI_33h_qN20EzC9JjRTyUYLJOQ"
API_URL = 'http://127.0.0.1:8005'